html, body, * {
    height: 100%;
}

body {
    overflow: scroll;
}

.arrow {
    font-family: monospace;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    color: white;
    text-align: center;
}
